############################
# WinDev project files
############################
*.env
*.wic
*.wdcoverage
*.wdcoverage.tmp*
*.wdaudit

############################
# Generated compilation folders
############################
cpl/
Exe/
Obj/
Debug/

############################
# HFSQL / Database files
############################
*.fic
*.ndx
*.mmo
*.fic.lock

############################
# Temporary / logs
############################
*.tmp
*.log
*.bak

############################
# WinDev cache / temp only
############################
lastsave/
Backup/
__WDLIBRAIRIES__/
__WDDATAS__/
__WDPROJECTCACHE__/

############################
# System files
############################
.DS_Store
Thumbs.db