############################
# WinDev project files
############################
*.wda
*.env
*.wep
*.wic
*.wbx
*.wdcoverage
*.wdcoverage.tmp*
*.wdaudit
*.waudit
*.wdap
*.wig
*.wlr

*.log
*.wcp
*.wrp
*wdcoverage
############################
# WinDev editor/cache files
############################
*.wbw
*.wcw
*.wrw
*.wdcoverage

############################
# Generated compilation folders
############################
*.cpl/
cpl/
Exe/
Obj/
Debug/

############################
# HFSQL / Database files
############################
*.fic
*.ndx
*.mmo
*.fic.lock

############################
# Temporary / logs
############################
*.tmp

############################
# WinDev temporary folders
############################
lastsave/
Backup/
__WDLIBRAIRIES__/
__WDDATAS__/
__WDPROJECTCACHE__/

############################
# System files
############################
.DS_Store