##HFSQL / database files
*.fic
*.ndx
*.mmo
*.ndx*
*.fic.lock

##Temporary files
*.tmp
*.log
*.bak

##WinDev generated folders (optional but recommended)
__WDLIBRAIRIES__/
__WDDATAS__/
__WDPROJECTCACHE__/

##System files
.DS_Store
Thumbs.db